.container {
    max-width: 1240px;
    max-height: 1754px;
    width: 1240px;
    height: 1680px;
    border: 1px solid black;
}
.header {
    padding-top: 10px;
    border-bottom: 4px solid black;
    padding-bottom: 10px;
}
.header-container {
    padding: 20px;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
}
.header_title {
    font-size: 70px;
    font-weight: bold;
}
.data-container {
    flex-direction: column;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
.date_nubmer {
    font-size: 40px;
}
.data_month {
    font-size: 36px;
}