.news {
  padding-top: 35px;
  margin-right: 50px;
}
.hiden {
  background-color: black;
  display: none;
}
.news-container {
  max-width: 1100px;
  margin: 0 auto;
}
.news_title {
  font-size: 40px;
  font-weight: bold;
  font-family: "Forum";
}
.news-block {
  max-width: 1100px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.news_item {
  display: flex;
  gap: 20px;
  align-items: center;
  font-family: "Forum";
}
.item_title {
  font-size: 16px;
  font-weight: bold;
  text-align: justify;
  width: 180px;
}
.item_text {
  font-size: 20px;
  text-align: justify;
  width: 1200px;
}


.prod_by {
  font-family: "Forum";
  position: absolute;
  font-size: 20px;
  top: 1640px;
  left: 1000px;
  max-width: 200px;
}