<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Paper</title>
    <link rel="stylesheet" href="../public/css/nullstyle.css" />
    <link rel="stylesheet" href="../public/css/header.css" />
    <link rel="stylesheet" href="../public/css/quote.css" />
    <link rel="stylesheet" href="../public/css/weather.css" />
    <link rel="stylesheet" href="../public/css/news.css" />
    
    
  </head>
  <body>
    <script defer src="../public/js/frontend/render.js"></script>
    <script defer src="../public/js/frontend/renderNews.js"></script>
    

    <div class="container">
      <div class="header">
        <div class="header-container">
          <p class="header_title" id="header_title">Morning News</p>
          <div class="data-container">
            <p class="date_nubmer" id="date_nubmer">25</p>
            <p class="data_month" id="data_month">Ноябрь</p>
          </div>
        </div>
      </div>
      <div class="quote">
        <div class="quote-container">
          <p class="quote_text">
            Счастье — это не нечто готовое. Счастье зависит только от ваших
            действий.
          </p>
          <p class="quote_autor">Далай Лама</p>
        </div>
      </div>
      <div class="weather">
        <div class="weather-container">
          <p class="weater_title">Погода</p>
          <div class="weater_card-container">
            <div class="weater_card">
              <p id="time-of-day" class="time-of-day">Утро</p>
              <p id="status-weather" class="status-weather">Пасмурно</p>
              <p id="status-degrees" class="status-degrees">-5℃</p>
            </div>
            <div class="weater_card">
              <p id="time-of-day" class="time-of-day">Утро</p>
              <p id="status-weather" class="status-weather">Пасмурно</p>
              <p id="status-degrees" class="status-degrees">-5℃</p>
            </div>
            <div class="weater_card">
              <p id="time-of-day" class="time-of-day">Утро</p>
              <p id="status-weather" class="status-weather">Пасмурно</p>
              <p id="status-degrees" class="status-degrees">-5℃</p>
            </div>
            <div class="weater_card">
              <p id="time-of-day" class="time-of-day">Утро</p>
              <p id="status-weather" class="status-weather">Пасмурно</p>
              <p id="status-degrees" class="status-degrees">-5℃</p>
            </div>
          </div>
        </div>
      </div>
      <div class="news">
        <div class="news-container">
          <p class="news_title">Новости IT</p>
          <div id="news-block" class="news-block">
            <div id="news_item" class="news_item">
              <p id="item_title" class="item_title">
                Новейшие ноутбуки и консоли научились взламывать картой памяти —
                стандарт SD Express упростил DMA-атаки
              </p>
              <p id="item_text" class="item_text">
                Специалисты Positive Technologies сообщили, что злоумышленники
                могут использовать карты памяти SD Express для прямого доступа к
                системной памяти и взлома целевого устройства при наличии
                физического доступа к нему. Это возможно благодаря архитектурной
                особенности новых пользовательских устройств, которые
                подключаются к компьютеру и имеют прямой доступ к его памяти
                через механизм DMA (Direct Memory Access). #dma #sdexpress
                #уязвимость"
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
